<div class="mdl-cell mdl-cell--12-col" align="center">
  <div class="docs-text-styling component-title">
    <table width="90%">
      <tr align="center">
        <td><img width="20%" src="/images/sistemas.png"></td>
        <td><img width="50%" src="/images/unipar.png"></td>
      </tr>
      <tr align="center"><td colspan="2"><h3>Acadêmicos</h3></td></tr>
      <tr>
        <td>
          <ul class="demo-list-icon mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Adrieli Mariani
          </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Ana Julia Zuquetto
            </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Andrei Batistel
            </span>
            </li>
          </ul>
        </td>
        <td>
          <ul class="demo-list-icon mdl-list">
          <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Carina Scheid
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Juliano Machado
            </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">person</i>
              Lucas Krahl
            </span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>